<div ng-controller="expoCtrl">
    
    <header>
        <nav>
        </nav>
    </header>
     <div class="container row ">
       
         <div class="row col s11 m10 card">
           <input type="text" placeholder="Titulo de la Presentacion" ng-model="titulo">
           <input type="text" placeholder="Url imagne presentacion" ng-model="imagen">
           <div class="divider"></div>
           <div class="section">
            <input type="text" placeholder="En este momento" ng-model="estado">
           <input type="text" placeholder="Descripcion del estado" ng-model="descripcion">
            <div class="section col s12">
                 <button class="btn" ng-click="agregar()">Agregar</button>  
             </div>
           </div>
         </div>
         
         <div class="divider col s10"></div>
         <div ng-repeat="expo in expos">
             <div class="card col s10">
             <div>
                 <img src="{{expo.imagen}}" style="min-height: 150px;max-height: 300px;  width: 100%;"alt="">
             </div>
             <div class="section">
                <h3>{{expo.titulo}}</h3>
                <h4>{{expo.estado}}</h4>
                 <p class="section">{{expo.descripcion}}</p>
             </div>
             </div>
         </div>

    </div>
    </div>