<div>
    <header>
        <nav>
            <div class="nav-wrapper teal lighten-2">
              <a href="#" class="brand-logo">Logo</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#/user">Sing In</a></li>
      </ul>
    </div>
        </nav>
    </header>
    <div class="container row">
    
    <div class="expos" ng-controller="expoCtrl">
         <div class="divider col s10"></div>
         <div ng-repeat="expo in expos">
             <div class="card col s10">
             <div>
                 <img src="{{expo.imagen}}" style="min-height: 150px;max-height: 300px;  width: 100%;"alt="">
             </div>
             <div class="section">
                <h3>{{expo.titulo}}</h3>
                <h4>{{expo.estado}}</h4>
                 <p class="section">{{expo.descripcion}}</p>
             </div>
             </div>
         </div>
    </div>
        </div>
</div>